{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="text">Привет, займешь денег до завтра?</div>
    </div>

    <div class="container">
        <p class="additional-text">Получали подобное сообщение? Вероятнее всего, вы уже сталкивались с кибермошенниками.</p>
        <p class="osayte-text">Добро пожаловать на платформу для оценки вашей защищенности от киберугроз. Повышайте свою цифровую грамотность уже сегодня!</p>
    </div>

{% endblock %}

