{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Тренировка написания паролей{% endblock %}

{% block content %}
<section class="password-section">
    <div class="password-container">
        <form action="" autocomplete="off" class="form">
            <input type="text" class="password" id="password" placeholder=" ">
            <label for="password" class="label">Введите пароль</label>
        </form>
        <div class="password-strength">
            <div class="strength-label">Надежность пароля: <span id="strength-value">0%</span></div>
            <div class="strength-meter">
                <div class="strength-meter-fill"></div>
            </div>
        </div>
        <button id="generate-password" class="generate-btn">Сгенерировать надежный пароль</button>
        <div class="validation">
            <ul>
                <li>Длина <i>0</i> <span class="line line_long"></span></li>
                <li>Заглавные буквы <span class="line line_uppercase"></span></li>
                <li>Специальные символы <span class="line line_symbols"></span></li>
                <li>Числа <span class="line line_numbers"></span></li>
            </ul>
        </div>
    </div>
</section>

<link rel="stylesheet" href="{% static 'main/css/password.css' %}">
<script src="{% static 'main/js/password.js' %}"></script>
{% endblock %}