header {
    display: flex;
    justify-content: space-between; /* Раздвигаем элементы по краям */
    align-items: center;
    padding: 10px 20px;
}

a {
    margin-right: 10px;
}

img {
   width: 64px;
   float: left;
}

.logo {
    font-size: 25px;
    margin-left: 1px;
    font-weight: 500;
    font-family: fantasy;
    position: relative;
    top: 20px;
    color: white;
}

Home {
    margin-right: 20px;
}