html, body {
    height: 100%;
}

body {
    margin: 0;

    background: linear-gradient(25deg,
    #e232b3,#2da7a9,#620f99,#0f0529,#000000);
    background-size: 200% 130%;
    animation: gradient 10s ease infinite;
}

a {
    text-decoration: none;
    color: white;
    }

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

<<<<<<< HEAD
.text {
  width: 29ch;
  color: white;
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap; /* не переносить текст на другую строку */
  overflow: hidden; /* скрываем переполнение контентом */
  border-right: 3px solid white; /* рисуем курсор */
  animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
}

@keyframes cursor {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
=======
Home {
    margin-right: 20px;
>>>>>>> 6ccf5902cd2effb2b7320fb6dee15fd1b068a913
}
